<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Products</h3>
<div>
    <p><a th:href="@{/home/create}">Create New Product</a></p>
</div>
<form th:action="@{/home/search}" method="post">
    <input type="search" id="name" name="name">
    <button type="submit">Search</button>
</form>
<br>
<table id="products">
    <thead>
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
        <td>Delete</td>
        <td>Edit</td>
        <td>View</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getDescription}"></td>
        <td><a th:href="@{/home/{id}/delete(id=${product.getId()})}">DELETE</a></td>
        <td><a th:href="@{/home/{id}/edit(id=${product.getId()})}">EDIT</a></td>
        <td><a th:href="@{/home/{id}/view(id=${product.getId()})}">VIEW</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer">Huyen Nguyen</footer>
</body>
</html>