<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/product}" method="post">
    <label hidden>Id: <input type="text" name="id" th:value="${product.getId()}" ></label>
    <label>Name: <input type="text" name="name" th:value="${product.getName()}"></label>
    <label>Price: <input type="text" name="price" th:value="${product.getPrice()}"></label>
    <label>Description: <input type="text" name="description" th:value="${product.getDescription()}"></label>
    <button type="submit">Submit</button>
</form>
</body>
</html>